#bft-marker {
    background-image: url("/modules/mod_blue_force_tracker/tmpl/assets/marker.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.bft-filter-group, .bft-add-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}

.bft-filter-group input[type='checkbox']:first-child+label, .bft-add-group input[type='checkbox']:first-child+label {
    border-radius: 3px 3px 0 0;
}

.bft-filter-group label:last-child, .bft-add-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.bft-filter-group input[type='checkbox'], .bft-add-group input[type='checkbox'] {
    display: none;
}

.bft-filter-group input[type='checkbox']+label {
    background-color: #6e6b6f;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #ccc;
}

.bft-filter-group input[type='checkbox']+label, .bft-add-group input[type='checkbox']+label {
    background-color: #6e6b6f;
    text-transform: capitalize;
}

.bft-filter-group input[type='checkbox']+label:hover, .bft-filter-group input[type='checkbox']:checked+label {
    background-color: #0254FE;
    color: #fff;
}

.bft-filter-group input[type='checkbox']:checked+label:before {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
}

.bft-add-group input[type='checkbox']+label {
    background-color: #0254FE;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #fff;
}

.bft-add-group input[type='checkbox']:checked+label:hover, .bft-add-group input[type='checkbox']:checked+label {
    background-color: #fe000b;
    color: #fff
}

.bft-add-group input[type='checkbox']:checked+label:before {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: "\f00d";
    margin-right: 5px;
}

.mapboxgl-popup {
    max-width: 600px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
    background: #fff;
}

.bft-featureCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    border-radius: 5px;
    background: rgb(1, 42, 127);
    color: #fff;
}

.bft-featureCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bft-cardImage {
    background: #222;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    /*height: 200px;*/
    max-height: 200px!important;
}

.bft-container h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bft-container {
    padding: 2px 2px;
    width: 180px;
}

.bft-featureInformations {
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: none;
}

.bft-container input[type=text] {
    font-size: 11px;
    background: #222;
    color: #fff;
    width:100%;
    padding: 2px;
    border-radius:5px;
    border:1px solid #7ac9b7;
}

.bft-container h4 {
    text-align: center;
}

.bft-container p {
    color:lightgray;
}

.bft-supprimerFeature {
    background-color: rgba(0,0,0,0);
    color: #fe000b;
    text-shadow: 2px 2px #000a21;
    font-size: 11px;
    width:50%;
    padding: 5px;
    border:0;
    display:none;
}

.bft-updateFeature {
    background-color: rgba(0,0,0,0);
    color: #00a600;
    text-shadow: 2px 2px #000a21;
    font-size: 11px;
    width:50%;
    padding: 5px;
    border:0;
    display:none;
}

.bft-feature-form label {
    font-size: 11px;
    line-height: 2px;
}

.bft-feature-form select, .bft-feature-form input[type=text], .bft-feature-form input[type=url], .bft-feature-form input[type=date], .bft-feature-form input[type=time], .bft-feature-form input[type=number], .bft-feature-form textarea {
    font-size: 11px;
    background: #222;
    margin-bottom: 2px;
    color: #fff;
    width:100%;
    padding: 0 2px 0 2px;
    border-radius:5px;
    border:1px solid #7ac9b7;
    resize: none;
}

.bft-feature-form input[type=submit] {
    background-color: rgba(0,0,0,0);
    color: #0254fe;
    width:50%;
    padding: 0 2px 0 2px;
    border:0;
    font-family: "Font Awesome 5 Free", serif;
    font-size: 2em;
    font-weight: 900;
}

.bft-feature-form p {
    text-align: center;
    margin-bottom: 2px!important;
    margin-top: 5px;
    padding: 5px;
}

.bft-feature-form h6 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px!important;
    margin-top: 0!important;
    padding: 5px;
}

.bft-feature-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 360px;
    padding: 0 5px 0 5px;
    border-radius:5px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.bft-feature-form span {
    color:red;
    text-align:right;
    font-weight: 900;
    padding-left: 10px;
}

.bft-feature-form input[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.bft-feature-form input[type="file"] + label {
    border: none;
    padding: 0;
    font-family: "Font Awesome 5 Free", serif;
    font-size: 28px;
    font-weight: 900;
    text-shadow: 4px 4px #000a21;
    height: 28px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bft-feature-form input[type="file"]:focus + label,
.bft-feature-form input[type="file"] + label:hover {
    color: #f3f3f3;
}

.bft-feature-form input[type="file"]:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
}

/*.bft-feature-form-image {*/
/*    display: none;*/
/*    !*margin-left: 10px;*!*/
/*    !*width: 350px;*!*/
/*    z-index: 1;*/
/*}*/

.bft-feature-form-with-image-width {
    /*width: 600px;*/
}

.bft-feature-form-with-image {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*z-index: 1;*/
}

.bft-blue_force_tracker {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bft-infoMap {
    width: 100%;
    margin-left: 1px;
    background: rgb(1, 42, 127);
    color: #fff;
    outline: 1px solid #fff;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.bft-infoMap fieldset {
    display: none;
    background: #012a7f;
    border: none;
    padding: 5px;
    margin: 0;
}

.bft-infoMap input {
    font-size: 11px;
    background: #222;
    color: #fff;
    width:100%;
    padding: 2px;
    border-radius:5px;
    border:1px solid #7ac9b7;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

.bft-infoMap p {
    text-decoration: none;
    color: #fff!important;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.bft-listingHeader {
    background-color: #0254fe;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .bft-active class with JS), and when you move the mouse over it (hover) */
.bft-listingActive, .bft-listingHeader:hover {
    background-color: #0252bf;
}

/* Style the accordion panel.bft- Note: hidden by default */
.bft-listingDetail {
    text-align: center;
    padding: 10px;
    background-color: #001d58;
    display: none;
    overflow: hidden;
}

.bft-tab {
    display: none;
    margin-top: 10px;
}

.bft-step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.bft-step.bft-active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.bft-step.bft-finish {
    background-color: #4CAF50;
}

.bft-stepButton {
    border: none;
    border-radius: 5px;
    background-color: #0254fe;
    padding: 5px 15px 5px 15px;
    font-family: "Font Awesome 5 Free", serif;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 2px 2px #000a21;
}

.bft-stepButton:hover {
    background-color: #0252bf !important;
}

.bft-stepButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow:hidden;
    width:100%;
    margin-top:10px;
}

.bft-stepBullets {
    text-align:center;
    margin-top:10px;
}

.bft-invalid {
    background-color: #75000b !important;
}

.bft-loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bft-spread {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
}

.bft-detailSwitchLabel {
    line-height: 24px!important;
    margin-top:0;
    margin-bottom:0;
    height: 24px;
}

.bft-showMoreFeatureInfo {
    width:100%;
    text-align: right;
    padding-right: 10px;
}

.bft-showMoreFeatureInfoButton, .bft-showMoreFeatureInfoButton:active, .bft-showMoreFeatureInfoButton:focus {
    color:#ddd;
    font-weight: bold;
    text-shadow: 2px 2px #000a21;
    padding-right: 10px;
}

.bft-showMoreFeatureInfoButton:hover {
    color:#fff;
    font-weight: bolder;
    text-decoration-line: none;
    padding-right: 10px;
}

.bft-cardDetails {
    padding : 10px;
}

.bft-cardDetails p {
    font-size: 10px;
    font-weight: normal;
    color:#ddd;
    margin-bottom: 5px;
}

.bft-cardDetails label {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
}

.bft-statContainer h2 {
    color: #fff;
    margin:0;
    padding-left: 15px;
    padding-right: 15px;
}

.bft-statContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #0a223b;
    border-bottom: solid 1px #fff;
}

#bft-cardContent {
    min-height: 200px;
}